<div class="main">
    <div class="logo">
      <a class="navbar-brand" [routerLink]="['/auth/login']">
        <img src="./assets/img/project/Vector.png" alt="logo" class="img-fluid me-2" />
      </a>
    </div>
  </div>
  
  <div class="container-custom">
    <div class="frame">
      <!-- <div class="IN-logo"></div> -->
      <div class="div-col-md">
        <div class="div-card">
          <div class="div-card-body">
            <div class="div-text-center">
              <div class="heading-welcome">Set your new password</div>
              
            </div>
            <form [formGroup]="formGroup" class="form login">
              <div class="div-mb">
                <mat-label class="inpt-label">New Password</mat-label>
                <mat-form-field class="mat-input-style" appearance="outline">
  
                  <div [formGroup]="formGroup">
                    <input appTwoDigitDecimaNumber placeholder="********** " matInput formControlName="password">
                  </div>
                  <mat-error
                    *ngIf="formGroup.controls.password.touched && formGroup.controls.password.hasError('required')">
                    This field is required.
                  </mat-error>
                  
                </mat-form-field>
              </div>
              <div class="div-mb-2">
                <mat-label class="inpt-label">Confirm new Password</mat-label>
                <mat-form-field class="mat-input-style" appearance="outline">
  
                  <div [formGroup]="formGroup">
                    <input appTwoDigitDecimaNumber placeholder="********** " matInput formControlName="confirmpassword">
                  </div>
                  <mat-error
                    *ngIf="formGroup.controls.confirmpassword.touched && formGroup.controls.confirmpassword.hasError('required')">
                    This field is required.
                  </mat-error>
                  
                </mat-form-field>
              </div>
             
            </form>
            <!-- <button class="button" (click)="login()">Sign In</button> -->
            <button class="button" [disabled]="isLoading" (click)="onClickSubmit()">
              <div class="uploader-status">
                <mat-spinner *ngIf="isLoading" color="primary" diameter="20">
                </mat-spinner>
              </div>
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  
  </div>