// ----------------------------------------------------------------------------------------------
// NOTE Variables -------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------

@import 'variables.scss';

// ----------------------------------------------------------------------------------------------
// NOTE Bootstrap -------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------

// NOTE Complete bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

// NOTE Bootstrap configuration
// @import '../../../node_modules/bootstrap/scss/functions';
// @import '../../../node_modules/bootstrap/scss/variables';
// @import '../../../node_modules/bootstrap/scss/mixins';

// // NOTE Merge maps
// $theme-colors: map-merge($theme-colors, $custom-colors);

// @import '../../../node_modules/bootstrap/scss/utilities';

// // NOTE Bootstrap layout & components
// @import '../../../node_modules/bootstrap/scss/root';
// @import '../../../node_modules/bootstrap/scss/reboot';
// @import '../../../node_modules/bootstrap/scss/type';
// // @import '../../../node_modules/bootstrap/scss/images';
// @import '../../../node_modules/bootstrap/scss/containers';
// @import '../../../node_modules/bootstrap/scss/grid';
// @import '../../../node_modules/bootstrap/scss/tables';
// @import '../../../node_modules/bootstrap/scss/forms';
// @import '../../../node_modules/bootstrap/scss/buttons';
// @import '../../../node_modules/bootstrap/scss/transitions';
// @import '../../../node_modules/bootstrap/scss/dropdown';
// // @import '../../../node_modules/bootstrap/scss/button-group';
// @import '../../../node_modules/bootstrap/scss/nav';
// @import '../../../node_modules/bootstrap/scss/navbar';
// @import '../../../node_modules/bootstrap/scss/card';
// // @import '../../../node_modules/bootstrap/scss/accordion';
// // @import '../../../node_modules/bootstrap/scss/breadcrumb';
// // @import '../../../node_modules/bootstrap/scss/pagination';
// @import '../../../node_modules/bootstrap/scss/badge';
// // @import '../../../node_modules/bootstrap/scss/alert';
// // @import '../../../node_modules/bootstrap/scss/progress';
// // @import '../../../node_modules/bootstrap/scss/list-group';
// // @import '../../../node_modules/bootstrap/scss/close';
// @import '../../../node_modules/bootstrap/scss/toasts';
// @import '../../../node_modules/bootstrap/scss/modal';
// @import '../../../node_modules/bootstrap/scss/tooltip';
// @import '../../../node_modules/bootstrap/scss/popover';
// // @import '../../../node_modules/bootstrap/scss/carousel';
// @import '../../../node_modules/bootstrap/scss/spinners';
// // @import '../../../node_modules/bootstrap/scss/offcanvas';

// // NOTE Boostrap helpers
// @import '../../../node_modules/bootstrap/scss/helpers';

// // NOTE Boostrap utilities
// @import '../../../node_modules/bootstrap/scss/utilities/api';

// ----------------------------------------------------------------------------------------------
// NOTE External components ---------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------

// $roboto-font-path: "../../../node_modules/roboto-fontface/fonts" !default;
// @import "../../../node_modules/roboto-fontface/css/roboto/sass/roboto-fontface";
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

// ----------------------------------------------------------------------------------------------
// NOTE Project style ---------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------

@import 'project.scss';

// ----------------------------------------------------------------------------------------------
// NOTE Overwrite styles ------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------

// @import 'modules/_bootstrap.scss';
@font-face {
    font-family: "MyFont";
    src: url(./../fonts/Zain-Regular.ttf) format("truetype");
    // url(./../fonts/Zain-Black.ttf) format("truetype")
    // url(./../fonts/Zain-Bold.ttf) format("truetype")
    // url(./../fonts/Zain-ExtraBold.ttf) format("truetype")
    // url(./../fonts/Zain-ExtraLight.ttf) format("truetype")
    // url(./../fonts/Zain-Light.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
.mat-mdc-input-element {
    width: 100%;
    height: 40px;
}
.mdc-text-field{
    padding: 0 1px !important;
}
.div-card{
    box-shadow: 0px 0px 15px 0px #cccccccf;
    padding: 30px 4px 30px 20px;
}
html, body { height: 100%; }
body, div { margin: 0; font-family: "MyFont";}
table{
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    // width: 100%;
    // overflow-x: scroll !important;
    // display: block;
    
}
.mat-mdc-form-field-infix{
    height: 50px;
    min-height:40px !important;
    padding-left: 10px;
}
mat-form-field.small {
    --mat-form-field-container-height: 40px;
    --mat-form-field-container-vertical-padding: 8px;
  }
.mat-sort-header-arrow {
    color: #0a0a0a !important;
}

body {
    margin: 0;
    font-family: SF Pro Display;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
.xng-breadcrumb-trail {
    margin-bottom: 5px;
}

.mat-drawer-content {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    overflow: visible;
}

.promotions {
    .mat-mdc-tab-body-wrapper {
        position: relative;
        overflow: hidden;
        display: flex;
        transition: height 500ms cubic-bezier(0.35, 0, 0.25, 1);
        width: 100%;
    }
}


.leftVerticalAlign {
    left: 1em;
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    margin: 0;
}

.headerText {
    font-weight: 600;
    font-size: 16px;
    padding-left: 36px;
    color: #495057;
}

// .mat-mdc-form-field-infix{
//     padding: 0 !important;
// }
.profile {
    .mat-mdc-form-field-infix {
        min-height: 40px;
    }

    .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .mat-mdc-card-header {
        padding: 16px;
    }

    .mat-mdc-button:not(:disabled) {
        color: #FFF;
    }
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.fade.in {
    opacity: 1;
}
.pending_app {
    border-radius: 4px;
    background: rgba(247, 184, 75, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FCA104;
    text-transform: uppercase;
   padding: 1px 3px;
  }
  
  .draft_app {
    border-radius: 4px;
    background: rgba(247, 184, 75, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FCA104;
    text-transform: uppercase;
  }
  
  .active_app {
    border-radius: 4px;
    background: rgba(103, 177, 115, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #67B173;
    text-transform: uppercase;
  }
.modal {
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 900;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    display: block;
    padding-left: 17px;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    outline: 0;
    overflow-y: hidden;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-body {
    position: relative;
    padding: 15px;
    overflow-y: scroll;
    max-height: 50vh;
}

.modal-dialog {
    width: 583px;
    margin: 30px auto;
    position: relative;
}

.modal-footer {
    padding: 15px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}






.golden-btn {
    color: #fff !important;
    background: var(--Primary-Gradient, linear-gradient(177deg, #F1BD50 3.76%, #BA7F05 88.71%, #7C5F21 160.58%)) !important;
}



.mat-mdc-tab-body-wrapper {
    width: 100%;
}

.mdc-checkbox .mdc-checkbox__native-control .mdc-checkbox__background {
    border-radius: 3.25px;
    position: relative;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #ced4da;

}

.mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background {
    border-color: #78BA09 !important;
    background-color: #78BA09 !important;
}

.mdc-form-field>label {
    font-size: 13px;
}

.login .mat-mdc-form-field-error {
    font-size: 13px;
}

.profile .mat-grid-tile-content {
    align-items: baseline !important;
    justify-content: flex-start !important;
    padding-left: 10px !important;
}

.width-10 {
    width: 10%;
}

.width-20 {
    width: 20%;
}

.width-30 {
    width: 30%;
}

.width-40 {
    width: 40%;
}

.width-50 {
    width: 50%;
}

.width-60 {
    width: 60%;
}

.width-70 {
    width: 70%;
}

.width-80 {
    width: 80%;
}

.width-90 {
    width: 90%;
}

.width-100 {
    width: 100%;
}

.mat-mdc-form-field-hint-wrapper,
.mat-mdc-form-field-error-wrapper {
    position: inherit !important;
    padding: 0 !important;
}

.mat-mdc-form-field-bottom-align::before {
    display: inline !important;
}

::ng-deep .mat-mdc-form-field-flex>.mat-mdc-form-field-infix {
    padding: 0.4em 0px !important;
}

::ng-deep .mat-mdc-form-field-label-wrapper {
    top: -1.5em;
}

::ng-deep .mat-mdc-form-field-appearance-outline.mat-mdc-form-field-can-float.mat-mdc-form-field-should-float .mat-mdc-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

.mat-drawer-inner-container {
    overflow: none !important;
}

.mat-drawer-content {
    overflow-x: hidden !important;
}

.mat-mdc-tab-body-content {
    overflow-x: hidden !important;
}

.mat-mdc-form-field-subscript-wrapper {

    height: 18px;
}

.add-flex-with-gap {
    display: flex;
    width: 100%;
    gap: 15px
}

.flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.no-padding {
    padding: 0 !important;
}

.ck-editor__editable_inline {
    min-height: 120px;
}

.cursor-pointer {
    cursor: pointer;
}

// .mdc-tab--active {
//     border-color: #D19B2A !important;
//     font-weight: 900;
// }


.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: #495057 !important
}

.mdc-text-field--disabled {
    background: #eee;
}
mat-form-field {
    width: 100%;
  }
  
  mat-form-field .mat-form-field-label {
    color: #3f51b5; /* Custom label color */
  }
  
  mat-form-field .mat-input-element {
    color: #3f51b5; /* Custom input text color */
  }
  
  mat-form-field .mat-form-field-underline {
    background-color: #3f51b5; /* Custom underline color */
  }
  
  mat-form-field .mat-form-field-error {
    color: red; /* Error message color */
  }
  