.container-custom {
  height: 100vh;
  //background-image: url(./../../../assets/images/login-background-1.png), url(./../../../assets/images/login-background-2.png);
  background-position: left, right;
  background-repeat: no-repeat;
  background-size: 50% 100%;

  width: 100%;
  display: flex;
  justify-content: center;
}
.main{
  position: relative;
}
.logo{
position: absolute;
top: 20px;
left: 40px; 
}
.uploader-status  {
  .mat-mdc-progress-spinner {
      --mdc-circular-progress-active-indicator-color: #fafafa !important;
      margin-right: 3px
  }
}
.version{
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 7px;
  color: #cccccc7d;
}
.frame {
  display: inline-flex;
    flex-direction: column;
    //height: 468px;
    width: 475px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.frame .IN-logo {
  position: relative;
  width: 237.4px;
  height: 29px;
  ///background-image: url(./../../../assets/images/full-logo.svg);
  background-size: 100% 100%;
  margin-bottom: 27px;
  margin-top: 72px;
}

.frame .div-col-md {
  display: flex;
  flex-direction: column;
  position: relative;
}

.frame .div-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
 
  background-color: #ffffff;
  border-radius: 4px;
}

.frame .div-card-body {
  display: flex;
    flex-direction: column;
   
    align-items: flex-start;
    gap: 0.5px;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.frame .div-text-center {
  display: flex;
  flex-direction: column;
  width: 403px;
  align-items: flex-start;
  gap: 0px;
  position: relative;
  flex: 0 0 auto;
}

.frame .heading-welcome {
  position: relative;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: -1px;
    color: #171717;
    letter-spacing: 0;
    white-space: nowrap;
    font-size: 24px;
    font-weight: 700;
    line-height: 54px;
    text-align: left;
}

.frame .text-wrapper {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  color: #878a99;
  letter-spacing: 0;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
}

.frame .form {
  position: relative;
  width: 387px;
  height: 90.09px
}

.frame .div-mb {
  position: absolute;
  width: 387px;
  height: 65px;
  top: 0;
  left: 0;
}

.frame .div {
  position: absolute;
  height: 20px;
  top: -1px;
  left: 0;
  font-weight: 500;
  color: #212529;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 19.5px;
  white-space: nowrap;
}

.frame .input {
  display: flex;
  width: 90%;
  align-items: flex-start;
  padding: 8px 14.39px 7.5px 14.39px;
  position: absolute;
  top: 28px;
  left: 0;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid;
  border-color: #ced4da;
}

.frame .div-wrapper {
  display: flex;
  width: 356.22px;
  align-items: flex-start;
  position: relative;
}

.frame .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #212529;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 19.5px;
  white-space: nowrap;
}

.frame .div-mb-2 {
  position: absolute;
  width: 387px;
  height: 65px;
  top: 105px;
  left: 0;
}

.frame .link-forgot-password {
 
  height: 20px;
  font-weight: 400;
  color: #0d6efd;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 19.5px;
  white-space: nowrap;
  cursor: pointer;
}

.frame .div-position {
  display: flex;
  width: 387px;
  align-items: flex-start;
  padding: 1px;
  position: absolute;
  top: 28px;
  left: 0;
}

.frame .div-2 {
  display: flex;
  width: 322.61px;
  align-items: flex-start;
  position: relative;
}

.frame .symbol {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "remixicon-Regular", Helvetica;
  font-weight: 400;
  color: #878a99;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.5px;
  white-space: nowrap;
}

.frame .div-form-check {
  min-height: 19.5px;
  align-items: center;
  gap: 6.5px;
  position: absolute;
  top: 202px;
  left: 0px;


}

.frame .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.5px;
  white-space: nowrap;
}

.button {
  z-index: 9999;
    border-radius: 4px;
    background: #3479BF;
    border: none;
    display: flex;
    width: 387px;
    padding: 8px 24px 8px 24px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.button .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.5px;
  white-space: nowrap;
}

.mat-input-style {

  
  width: 100%;
}

.inpt-label {
  color: #212529;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}