<mat-list>
  <mat-list-item>
    <span matListItemTitle>MANAGEMENT</span>
    <span matListItemLine>Requests</span>
    <span matListItemLine>Accounts</span>
    <a matListItemLine [routerLink]="['/management/users']">Users</a>    
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>ROLES</span>    
    <a matListItemLine [routerLink]="['/roles/zain-cash-role']">ZainCash Roles</a>  
    <span matListItemLine>Commercial Roles</span>    
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>SERVICES</span>
    <span matListItemLine>Cash In</span>
    <span matListItemLine>Cash Out</span>    
    <span matListItemLine>Transfer</span>
    <span matListItemLine>Disbursement</span>
  </mat-list-item>
</mat-list>




