<div class="main">
  <div class="logo">
    <a class="navbar-brand" [routerLink]="['/auth/login']">
      <img src="./assets/img/project/Vector.png" alt="logo" class="img-fluid me-2" />
    </a>
  </div>
</div>

<div class="container-custom">
  <div class="frame">
    <!-- <div class="IN-logo"></div> -->
    <div class="div-col-md">
      <div class="div-card">
        <div class="div-card-body">
          <div class="div-text-center">
            <div class="heading-welcome">Welcome to Zain Cash Portal</div>
            <p class="text-wrapper">Login with your account.</p>
          </div>
          <form [formGroup]="formGroup" class="form login">
            <div class="div-mb">
              <mat-label class="inpt-label">Email</mat-label>
              <mat-form-field class="mat-input-style" appearance="outline">

                <div [formGroup]="formGroup">
                  <input appTwoDigitDecimaNumber matInput formControlName="emailId" placeholder="email@example.com">
                </div>
                <mat-error
                  *ngIf="formGroup.controls.emailId.touched && formGroup.controls.emailId.hasError('required')">
                  This field is required.
                </mat-error>
                <mat-error *ngIf="formGroup.controls.emailId.touched && formGroup.controls.emailId.hasError('email')">
                  Email address is not valid.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="div-mb-2">
              <mat-label class="inpt-label">Password</mat-label>
              <mat-form-field class="mat-input-style" appearance="outline">

                <div [formGroup]="formGroup">
                  <input matInput type="password" placeholder="********" formControlName="password"
                    type="{{ pwdToogle ? 'text' : 'password' }}">
                </div>
                <mat-icon matSuffix class="cp" (click)="togglePwd('pwdToogle')">
                  {{
                  pwdToogle ? "visibility" : "visibility_off"
                  }}</mat-icon>
                <mat-error
                  *ngIf="formGroup.controls.password.touched && formGroup.controls.password.hasError('required')">This
                  field is required.</mat-error>
              </mat-form-field>
            </div>
            <div class="div-form-check">
              <div class="link-forgot-password" routerLink="/auth/forgot-password">Forget your Password?</div>
            </div>
          </form>
          <!-- <button class="button" (click)="login()">Sign In</button> -->
          <button class="button" [disabled]="isLoading" (click)="login()">
            <div class="uploader-status">
              <mat-spinner *ngIf="isLoading" color="primary" diameter="20">
              </mat-spinner>
            </div>
            Login
          </button>
        </div>
      </div>
    </div>
  </div>

</div>