.user-button {    
    box-shadow: none;
    margin-left: 16px;
  
    &__icon {
      color: rgba(255, 255, 255, 0.35);
    }
  
    &:hover {
      background-color: rgba(0, 0, 0, 0.08);
    }
  
    @media (max-width: 576px) {
      margin-top: 0;
    }
  }
  
  .user-menu-title {
    padding: 16px 48px 0 16px;
    margin-bottom: 4px;
  
    /* &__name {
      margin-bottom: 4px;
      font-weight: $fw-lighter;
      font-size: $fs-large;
      color: $dark-grey;
    }
  
    &__link {
      color: $blue;
      font-weight: $fw-lighter;
      font-size: $fs-small;
      text-decoration: none;
    } */
  }
  
  .user-menu-icon {
    color: #B9B9B9;
    margin-right: 16px;
    opacity: .8;
  }
  
  .sign-button-wrapper {
    text-align: center;
    padding: 8px 0 16px 0;
    width: 100%;
  }
  
  /* .sign-button {
    border: 1px solid;
    color: $blue;
    width: 80%;
  } */
  
  
  